<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card public-profile border-0 rounded shadow no-margin" style="z-index: 1;">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-5 text-md-start">
                <div class="about-details key-feature bg-light">
                  <div class="media-body content">
                    <h6 class="title mb-2">Personal Details</h6>
                    <div class="bor-bottom mt-2 mb-2"></div>
                    <p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">Email: </a>
                      admin@idonttrust.me</p>
                    <p class="text-muted mb-2 font-14"><a href="javascript:void(0)" class="text-black">Languages:
                      </a>Marathi, Hindi, Gujarati, English
                    </p>
                    <p class="text-muted mb-0 font-14"><a href="javascript:void(0)" class="text-black">Nationality: </a>
                      Indian</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-md-7">
                <div class="row align-items-end">
                  <div class="col-md-12 text-md-start mt-4 mt-sm-0">
                    <h4 class="heading me-2">I Am <span class="element text-primary typed-element"></span>
                      <span id="typed" class="text-primary"></span>
                    </h4>
                    <p class="text-light-muted mt-2">Obviously I'm a Full Stack Developer.
                      Experienced with all stages of the development cycle for dynamic web
                      projects. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
