<!-- Footer Start -->
<footer class="footer bg-light">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <!-- <p class="para-desc mx-auto mt-5 text-black">Obviously I'm a Web Designer. Experienced with all
                        stages of the development cycle for dynamic web projects.</p> -->
        <ul class="list-unstyled mb-0 mt-4 social-icon">
          <li class="list-inline-item me-1"><a href="https://www.facebook.com/chetanpatil.rock/" target="_blank"
              class="rounded-circle"><i class="mdi mdi-facebook"></i></a></li>
          <li class="list-inline-item me-1"><a href="https://www.instagram.com/aala_mothha_shahna/" target="_blank"
              class="rounded-circle"><i class="mdi mdi-instagram"></i></a></li>
          <li class="list-inline-item me-1"><a href="https://www.linkedin.com/in/chetan-patil-236792197/"
              target="_blank" class="rounded-circle"><i class="mdi mdi-linkedin"></i></a></li>
          <li class="list-inline-item me-1"><a href="https://github.com/chetan-developer/" target="_blank"
              class="rounded-circle"><i class="mdi mdi-github"></i></a></li>
        </ul>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</footer>
<!--end footer-->
<footer class="footer footer-bar bg-black">
  <div class="container text-foot text-center">
    <p class="mb-0 text-white-50">©
      {{currentYear}} Design by <a href="mailto:chetanpatil4140@gmail.com" target="_blank" class="text-white-50">Chetan
        Patil</a>
    </p>
  </div>
</footer>
