<section class="cta-full handleScroll" id="skills">
  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-12 ">
        <div class="cta-full-img-box">
          <div class="row justify-content-center">
            <div class="col-12 text-center mb-3">
              <div class="container-title">
                <div class="titles">
                  <h4 class="title title-line text-capitalize mb-4">Work Expertise</h4>
                </div>
                <!-- <p class="text-light-muted mx-auto width-max mb-0">Obviously I'm a Web Designer.
                                        Experienced with all stages of the development cycle for dynamic web projects. -->
                <!-- </p> -->
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-3 col-6 mt-4 pt-2" *ngFor="let item of WorkSkills">
              <div class="card explore-feature border-0 text-center bg-white p-3">
                <div class="card-body p-0">
                  <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                    <img [src]="item.image" alt="" class="img-fluid mx-auto">
                  </div>
                  <span class="badge skill-badge badge-light">{{item.level}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
